{% extends "base.html" %}
{% block content %}
  <div class="addForm">
    <form action="/add/url/" method="get">
      {{url.title|safe}} - <a href="{{url.key().name()}}">{{url.key().name()}}</a>
      <label>Tags:</label>
        <input class="tag" type="text" name="tag" value="{%for tag in tags%}{{tag.name()}} {%endfor%}">
      <label>Recommended Tags:</label>{%for tag in url.tags%}<a>{{tag.name()}}</a> {%endfor%}
      <input type="hidden" name="url" value="{{url.key().name()}}"/>
      <input class="button" type="submit" value="要"/>
    </form>
  </div>
{% endblock %}
