{% extends "base.html" %}
{% block content %}
<div class="content">

    {% include "add_form.html" %}
  <div class="box">
    {% for b in bs %}
      <div class="cell">
        <div class="like col">
          <div class="likes bar col">
            <div class="stat">23</div>
            <div>喜欢</div>
          </div>
          <div class="own bar col">
            <div class="stat">14</div>
            <div>拥有</div>
          </div>
          <div class="fav bar col">
            <div class="stat">16</div>
            <div>收藏</div>
          </div>
        </div>
        <div class="entry col">
          <a href="/view/{{ b.key() }}" class="bigger">
            {{ b.title }}
          </a>
          <div class="flat"></div>
        </div>
        <div class="thumb col">
          <a href="/{{ b.digger.name }}">
            <img src="/static/images/missing.jpg">
          </a>
          <div>{{ b.digger.name }}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
