{% extends "base.html" %}
{%block css%}
<link href="/static/css/login.css" rel="stylesheet" type="text/css" media="screen" />	
{%endblock%}
{% block content %}
	<div class="login">	
		<form action="/login" method="post" class="buttons">
			<label>Email:</label>
			<input type="text" name="username" />
			<br>
			<label>密码:</label>
			<input type="password" name="password" />
			<strong><input type="submit" value="登陆" /></strong>	
		</form>
		<a href="/signup">注册新账号?</a>
		<hr/>
	</div>
{% endblock %}
