.login,.signup {
	margin-left: auto;
	margin-right: auto;
	width: 440px;
	font-family: "Lucida Sans", "Lucida Grande", Arial, sans-serif;
	padding: 30px 30px;
}

.error {
	color: #F4376C;
}

a:hover {
	color: #F4376C;
	text-decoration: underline;
}

h1 {
	color: #666;
	text-align: center;
}

hr {
	border: 0px transparent solid;
	border-top: 1px #fdfdfd solid;
	border-bottom: 1px #ddd solid;
	margin: 20px 0 30px 0;
}

input {
	margin-bottom: 0.5em;
}

label,input[type ^=text],input[type ^=password] {
	width: 100%;
	font-size: 25px;
}