html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #FFF;
	color: #534B38;
	font: normal 1em/ 1.4 微软雅黑, 'Helvetica Neue', Arial, Helvetica,
		sans-serif;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,hr,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video
	{
	margin: 0;
	border: 0;
	padding: 0;
	outline: 0;
	font-size: .98em;
	vertical-align: baseline;
	background-color: transparent;
}

/* Main button */
a.button,input.button {
	display: inline-block;
	margin: 0;
	border: 2px solid #79AD90;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px 30px;
	background: #9ACF9F url(../images/b-submit.gif) repeat-x 0 0;
	color: #000;
	text-shadow: 0 1px 0 #E7FFD5;
	text-decoration: none;
	font: bold 1em 'Helvetica Neue', Arial, Helvetica, sans-serif;
	white-space: nowrap;
}

a.button:hover,a.button:active,input.button:hover,input.button:active {
	border-color: #116746;
	background-color: #55B166;
	background-position: 0 -50px;
	color: #FFF;
	text-shadow: 0 1px 0 #393;
	cursor: pointer;
}

a:link {
	color: #000;
}

a:visited {
	color: #534B38;
}

a:hover,a:active {
	color: #39C;
}

ul {
	font-size: 0.9em;
	margin: 0 auto;
	overflow: hidden;
}

ul {
	margin: .2em 0 1em 2.1em;
}

ul li,ol li {
	margin-bottom: .75em;
}

ul li {
	list-style: disc;
}

ol li {
	padding: 0 0 0.2em 20px;
	list-style-type: none;
	/*background: url(../images/i-leaf.png) no-repeat scroll 1px 3px
		transparent;*/

}

.container {
	
}

.container .list .realtime h1 {
	font-size: 2em;
}

.container ul li {
	margin: 0 10px;
	list-style: none;
}

.container .header {
	color: #fff;
}

.container .header ul a,.container .header ul a:link,.container .header ul a:visited
	{
	text-decoration: none;
	font-size: 2em;
}

.container .header {
	text-align: center;
	background-color: #252525;
	border: 1px solid #252525;
	border-bottom: 4px solid #BCE27F;
}

.container .header ul li a:link {
	color: #FFFFEE;
}

.container .header a:visited {
	color: #FFF;
}

.container .header ul li {
	display: inline;
	vertical-align: top;
}

.container .header ul li strong {
	color: #FFCC00;
}

a.tag#yellow {
	background-color: #FFDE00;
	color: #333333;
}

.tag {
	-moz-border-radius: 2px 2px 2px 2px;
	font-weight: bold;
	padding: 0 0.25em;
	text-decoration: none;
}

.container .list,.container .addForm {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.container .list .addForm {
	display: none;
}

.container .list .urls .info{
    float:left;
    width:20%;
    height:100px;
}
.contaner .list .urls .url{
    float:left;
    width:80%;
}
.container .list .realtime {
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #E1F1FA;
	height: 70px;
	margin: 10px -2px 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.container .list .realtime li {
	padding-top: 20px;
}

.container .list .menu {
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #fffeee;
	margin: 10px -2px 10px;
	padding: 10px 5px 5px 20px;
}

.container .addForm {
	padding: 15px 10px;
}

.container  .addForm input[type ^=text] {
	width: 500px;
}

.container  .addForm  input[type ^=text].url {
	margin: 0;
	border: 2px solid #79AD90;
	padding: 10px 10px;
	color: #000;
	text-decoration: none;
	font: bold 1em 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.container  .addForm  input[type ^=text].tag {
	margin: 0px;
	border: 2px solid #79AD90;
	color: #000;
	text-decoration: none;
	font: bold 1em 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.none {
	clear: both;
}

.container .list .menu .add {
	background: url(../images/plus_12x12.png) no-repeat scroll 1px 2px
		transparent;
	padding-left: 16px;
}

.container .list ol li {
	margin-top: 10px;
}

.container .list .urls .item_link {
	color: #aaa;
	font-size: .9em;
}

.container .list .urls .date {
	color: #aaa;
	font-size: .8em;
}

.container .list ol li .tags {
	margin-top: 2px;
}

.footer {
	text-align: center;
}
