{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
            <div class="addForm">
		        <form action="/add/url/" method="get">
		                {{url.title|safe}} - <a href="{{url.key.name}}">{{url.key.name}}</a>
		                <br>
		                <label>Tags:</label><br>
		                <input class="tag" type="text" name="tag" value="{%for tag in tags%}{{tag.name}},{%endfor%}"/><br>
		                <label>Recommended Tags:</label>{%for tag in url.tags%}<a>{{tag.name}}</a> {%endfor%}
		                <br><br>
		                <input type="hidden" name="url" value="{{url.key.name}}"/>
		                <input class="button" type="submit" value="Submit"/>
		            </ul>
		        </form>
		    </div>
{% endblock %}
