				<div class="entry" onmouseover="this.setAttribute('id','highlight');" onmouseout="this.setAttribute('id','')">
				<div class="text">
				{%ifequal activity.stream.service.service 'blog'%}
				 <span class="rss">&nbsp;</span><a href="/user/{{activity.stream.who}}/">{{activity.stream.who}}</a>
				 写了新文章:<a href="{{activity.link}}" target="blank">{{activity.title}}</a>
				 <div id="{{activity.key}}">{{activity.what|striptags|truncatetext}}</div>
				{%endifequal%}
				
				{%ifequal activity.stream.service.service 'google_reader'%}
				<span class="google_reader">&nbsp;</span><a href="/user/{{activity.stream.who}}/">{{activity.stream.who}}</a>从Google阅读器分享了文章:
				<a href="{{activity.link}}" target="blank">{{activity.title}}</a>
				<div class="summary" id="{{activity.key}}">{{activity.what|striptags|truncatetext}}</div>
				{%endifequal%}
				
				{%ifequal activity.stream.service.service 'douban'%}
 				<span class="douban">&nbsp</span><a href="/user/{{activity.stream.who}}/">{{activity.stream.who}}</a>的豆瓣新动向:
				<a href="{{activity.link}}" target="blank">{{activity.title}}</a>
				<div class="pic" id="pic_{{activity.key}}" name="pic" link="{{activity.link}}" type="douban"></div>
				<div class="summary">{{activity.what|safe}}</div>
				{%endifequal%}
				{%ifequal activity.stream.service.service 'delicious'%}
				<span class="delicious">&nbsp</span><a href="/user/{{activity.stream.who}}/">{{activity.stream.who}}</a>分享了新链接:
				<a href="{{activity.link}}" target="blank">{{activity.title}}</a>
				{%endifequal%}

					<div class="info" id="info">
						<span class="time">&nbsp;</span>{{activity.when|human_time}} | 
						<span class="view">&nbsp;</span><a target="blank" href="{{activity.link}}">追踪</a>
						<span class="expand">&nbsp;</span><a href="#" onclick="$('#{{activity.key}}').toggle();">展开阅读</a>
					</div>
				</div>
				<div class="none"></div>
				</div>
